<div class="main-card">
  <h1>Welcome to the Movie Portal!</h1>
  <div class="grid-container" id="about-page-content">
    <div class="about-grid-item">The Movie Portal is a Ruby on Rails application created by Jack Corley. It was created to
      leverage the MovieDB API. From the home page you can access an index of the most popular TV shows to date. Also
      feel
      free to use the search bar to filter the results from the most popular tv shows.
    </div>
  </div>
</div>

