<div class="main-card">

  <div class="grid-container" id="shows-grid">
    <% @search_results_shows.each do |show| %>
      <div class="grid-item"><%= show.name %></div>
    <% end  %>
  </div>
</div>

<div class="grid-container"  id="search-results">

</div>