<div class="main-card">
  <h1>Welcome to the Movie Portal!</h1>
    <div class="grid-container">
      <% @shows.each do |show| %>
        <div class="grid-item"><%= show.name %></div>
      <% end  %>
    </div>
</div>